---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro'; // <-- Nova importação
---

<Layout 
  title="Boilerplate Alta Performance | A sua Agência" 
  description="Landing Pages com LCP inferior a 1.2s e Lighthouse 95+. Escale os seus resultados."
>
  <main>
    <Hero />
    
    </main>
</Layout>