---
import '../styles/global.css';
import SEO from '../components/SEO.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <link rel="preload" href="/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
    
    <SEO title={title} description={description} />
  </head>
  <body class="font-sans antialiased text-neutral-900 bg-white dark:bg-neutral-900 dark:text-neutral-50 transition-colors duration-300">
    <slot />
  </body>
</html>